#main-form{
    align-items: center;
    align-content: center;
    padding: 10%;
    width: 100%;
    height: 100%;
    
}
.loader {

    margin-top: 15%;
    margin-left: 40%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#frm{
   margin-top:10%;
   margin-left: 15%;
   width: 55%;
}
@media(min-width:800px){
    .contaner{
        
        float: left;
    }

}
.input-group-addon{
    margin-top: 2.5%;
    background-color: white;    
    height: fit-content;
}
i{
    size: 5px;
}
#arrow-container{
    display: inline-block;
    margin-left:30px;
    margin-top: 25px; 
}
.arrow{ 
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #E9F4ED; 
  }
.card{
     border:1px #E9F4ED;
      background: #E9F4ED
}
#card-content{
    padding: 2.5%;
    
}
  #login-form{
      margin-top: 2.5%;

}
#btn{
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    background: #1BBC9B;
    border: 0px;
}
#under-form{
    font-size: xx-small;
    margin-top: 5%;
   margin-left: 41%;
   color: grey;
   
}
#image{
    
    color: white;
    position: left;
    float: left;
}
@media (max-width:800px){
    #card-content{
        padding: 2.5%;
    }
    .arrow{

        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #E9F4ED;
      }
      #frm{
        
        margin-left: 10%;
        width: 80%;
     }
     #image{
        
        color: white;
        position: center;
        float: none;
    }
    #arrow-container{
        display: block;
        margin-left:30px;
        margin-top: 25px; 
    }
    .contaner{
        margin-left: 35%;
        align-content:right;
    }
    #under-form{
        font-size: xx-small;
        margin-top: 5%;
       margin-left: 35%;
       text-align: center;  
    }
}