<div id="main-form">
  <div class="loader" *ngIf= "wasClicked"></div>
    <div id="frm" *ngIf="!wasClicked">
      
      <div class="contaner" >

 
        <div id= "image">
            <img  src="http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/72/mail-icon.png" >
            
            <p>Welcome To
              <br>
              <b>Mail App</b>
            </p>
          </div> 
          <div id = "arrow-container">
              
           <div class="arrow"></div>
         </div>      
          </div>
    
      <div class= "card" >
         <div id="card-content">
            <div class="input-group">
                <input  id ="login-form" type="text" class="form-control" placeholder="Enter your name" aria-describedby="basic-addon1"> 
                <span id= "login-form" class="input-group-addon" id="basic-addon1"><i class="material-icons">account_circle</i></span>
              </div>    
              <div class="input-group">
                <input  id ="login-form" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon1"><i class="material-icons">lock</i></span>
              </div>
                <button id ="btn" type="button" class="btn btn-primary btn-block" (click)="loginClicked()">Login</button>
                <a id="under-form" href="">Lost your password?</a>
                
         </div>
      </div>
      
      
    </div>
</div>